/**
 * @name         Reborn
 * @description  Phoenix Theme Bundle: Transparent, fully customizable theme with multiple addons
 * @author       MonsterDev
 * @version      1.5
 * @donate       https://goo.gl/9S8VGb
 * @source       https://github.com/monstrousdev/themes/theme-files/Reborn.theme.css
 * @invite       TeRQEPb
 * @authorId     402272736665272320
 */

/* IMPORT CSS FROM GITHUB */
@import "https://monstrousdev.github.io/themes/phoenix-bundle/reborn.css";
/*
===== IMPORTANT =====
CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!

Registered: Black Box Theme

===== CUSTOMIZABLE COLORS AND IMAGES =====
*/

:root {
  --roundness: 50px; /* edit roundness of icons from 0px to 50px */
 --main-color: #007dbd; /* Main Color */     
  --hover-color: #03679b; /* Hover Color */
  --home-color: #eee; /* Change home icon color */
  --home-size: 24px; /* size of the home icon */
  --shadow: rgba(0,0,0,.4); /* change to darken lighten, or set to transparent */
 --background-image: url(https://s-media-cache-ak0.pinimg.com/originals/60/c4/bb/60c4bb55215c989b15b0fe144c73cf82.jpg); /* change background */
  --background-blur: 0px; /* Main Background Blur */
--popup-background: url(https://s-media-cache-ak0.pinimg.com/originals/60/c4/bb/60c4bb55215c989b15b0fe144c73cf82.jpg);  /* Background for popups and modals */
  --background-darkness: 0.75; /* change the darkness of your background. 1 makes it completely black, 0 makes it like the original image */
}


/*
---------------------------------------------------------------------------------------------------------------------------------------------
===== CREDITS =====
URI
BEARDDESIGN
ZERTHOX
THESE PEOPLE HAVE HELPED CREATE THIS THEME IN ONE WAY OR THE OTHER.
===== TROUBLESHOOTING =====
IF YOU NEED ANY HELP GO TO https://discord.gg/TeRQEPb
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/* Server Chat and Voice Channels */
.container-1NXEtd {
  background-color: transparent !important;
}

/* Chat background */
.chatContent-3KubbW {
    background-color: transparent !important;
}

/* Direct Messages */
.thin-31rlnD {
    background-color: transparent !important
}

/* Chat/Writing Bubble */
.scrollableContainer-15eg7h {
    background-color: transparent !important
}

/* Activity Pannel */
.activityPanel-9icbyU {
  background-color: transparent !important;
}

/* Stream Preview */
.streamPreview-I7itZ6 {
  background-color: #101010 !important;
}

/*Server Role/People */
.layout-1qmrhw{
  background-color: #101010 !important;
}

/* Chat Name Activity */
.popoutHeaderContainer-26vKmr {
  background-color: #101010 !important;
}

/* Chat Activity Background Colour */
.activity-1DK9Xa {
  background-color: #101010 !important;
}
.translate-PeW1wK {
  background-color: #101010 !important;
} 
